
*{
margin:0px;
padding:0px;
}

.baseline{
padding:5px;
font-family:Arial, Helvetica, sans-serif;
line-height:24px;
font-size:16px;
}


.footerxt{
padding:5px;
color:#FFFFFF;
line-height:26px;
font-size:12px;
}

.left-side-bg{background-color:#EBEEF0; border-left:#DAE3E8 solid 1px; border-right:#DAE3E8 solid 1px;}
.left-side-bg h1{font-size:16px; color:#0F1B22; padding-left:5px; padding-top:3px;}

.left-side-sub-bg{background-color:#FFFFFF;}

.content-bg{background-color:#FFFFFF; border-left:#DAE3E8 solid 1px; border-right:#DAE3E8 solid 1px;}
.content-bg h1{font-size:14px; color:#005782; padding-left:10px; padding-top:5px; font-weight:bold;}

.text-box-fonts{color:#252222; font-size:12px; font-stretch:normal; font-weight:bold; text-align:justify; padding-left:5px; padding-top:5px;}

a.forgot{color:#D83E0E; font-size:11px; font-weight:bold; padding-left:3px; padding-top:3px; text-decoration:none;}
a.forgot:hover{color:#1191c6; font-size:11px; font-weight:bold; padding-left:3px; padding-top:3px; text-decoration:none;}

.form-field {
    background:url(../images_swf/text-box_new_swf.jpg) no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 24px;
    width: 148px;
    padding-left:5px;
	padding-top:3px;
}

.input-inner {
    background: none repeat scroll 0 0 transparent;
    border: 0 solid green;
    color: #DDDDDD;
    width: 143px;
}

.help{
width:463px; height:196px; background-image:url(../images_swf/help_bg_swf.gif); background-repeat:no-repeat;
}
.log{
width:295px; height:168px; background-image:url(../images_swf/log-bg1_swf.gif); background-repeat:no-repeat; background-position:center;
}
.download{
width:620px; height:280px; background-image:url(../images_swf/download_bg_swf.gif); background-repeat:no-repeat; background-position:center;
}
.td-bg{
border:#C4C4C4 solid 1px; height:150px; 
}


.username{
font:Century Gothic;
font-size:12px;
font-stretch:normal;
font-variant:normal;
font-weight:bold;
color:#626262;
text-decoration:none;
text-transform:none;
}
a.maintext{font-size:12px; font-stretch:normal; text-align:justify; font-weight:bold; text-decoration:none; color:#28373E; padding-left:2px; padding-top:2px;}
a.maintext:hover{font-size:12px; font-stretch:normal; text-align:justify; font-weight:bold; text-decoration:none; color:#525252; padding-left:2px; padding-top:2px;}


.maintext1{font-size:12px; font-stretch:normal; font-weight:normal; color:#2d2d2d; padding-left:10px; padding-top:5px; line-height:2;}

.submain{
font:Tahoma;
font-size:11px;
font-stretch:normal;
font-variant:normal;
font-weight:bold;
text-align:justify;
color:#2D2D2D;
text-decoration:none;
text-transform:none;
padding:5px;
}
.upload{
font:Century Gothic;
font-size:11px;
font-stretch:normal;
font-variant:normal;
font-weight:bold;
color:#0070A6;
text-align:justify;
text-decoration:none;
text-transform:none;
padding:2px;
}



/*Start New Css*/

a.menu{font-size:15px; font-stretch:normal; font-variant:normal; text-align:justify; text-decoration:none; color:#FFFFFF; padding-left:5px;}
a.menu:hover{font-size:15px; font-stretch:normal; font-variant:normal; text-align:justify; text-decoration:none; color:#FA291F; padding-left:5px;}

.left-side-border{border-left:#DEDEDE solid 1px; border-bottom:#DEDEDE solid 1px; border-right:#DEDEDE solid 1px; border-top:#DEDEDE solid 1px; background-color:#FFFFFF; height:400px;}

.main-headings{font-size:22px; font-stretch:normal; font-variant:normal; color:#FF0000; font-weight:bold; text-align:justify; padding-left:8px; padding-top:5px;}

.inputtype-fonts{color:#5A5B5B; font-size:11px; font-stretch:normal; font-variant:normal; font-weight:bold; text-align:justify;}

.marquee{color:#D53030; font-size:12px; font-stretch:normal; font-variant:normal; font-weight:bold; text-align:justify; padding-left:3px;}

a.sub-headings{color:#2E3636; font-size:12px; font-stretch:normal; font-variant:normal; text-align:justify; text-decoration:none; line-height:24PX; }
a.sub-headings:hover{color:#D53030; font-size:12px; font-stretch:normal; font-variant:normal; text-align:justify; text-decoration:none;}

.main-content{font-size:12px; font-stretch:normal;  text-align:justify; color:#6B6B6B; padding:5px; line-height:24PX;}


a.links-headings{color:#293134; font-size:12px; font-stretch:normal; font-variant:normal; font-weight:bold; text-align:justify; text-decoration:none; padding-left:3px;}
a.links-headings:hover{color:#0c7ead; font-size:12px; font-stretch:normal; font-variant:normal; font-weight:bold; text-align:justify; text-decoration:none; padding-left:3px;}

.sub-main-headings{font-size:20px; text-align:justify; font-weight:bolder; color:#0166c4; padding:5px; border-bottom:#CCCCCC solid 1px;}

.form-field-new {
    background:url(../images/text-box_new_swf.jpg) #dddddd no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 24px;
    width: 143px;
    padding-left:5px;
	padding-top:3px;
}

.input-inner-new {
    background: none repeat scroll 0 0 transparent;
    border: 0 solid green;
    color: #dddddd;
    width: 143px;
}


.footer{font-size:12px; font-stretch:normal; font-variant:normal; color:#575757; text-align:justify; padding-left:10px;}

a.footer1{font-size:12px; font-stretch:normal; font-variant:normal; color:#0C7EAD; text-decoration:none; text-align:justify;}
a.footer1:hover{font-size:12px; font-stretch:normal; font-variant:normal; color:#383838; text-decoration:none; text-align:justify;}

.names{font-size:12px; font-stretch:normal; font-variant:normal; color:#3A3A3A; font-weight:normal; text-align:left; padding-left:5px; line-height:2;}

.border{border-left:#515151 solid 1px; border-right:#515151 solid 1px; border-top:#515151 solid 1px; border-bottom:#515151 solid 1px;}

a.top{font-size:17px; font-stretch:normal; font-variant:normal; text-align:justify; text-decoration:none; color:#CB2412; padding-right:5px;}
a.top:hover{font-size:17px; font-stretch:normal; font-variant:normal; text-align:justify; text-decoration:none; color:#008ED2;}


.contactus{font-size:14px; font-stretch:normal; font-variant:normal; font-weight:bold; text-align:justify; color:#202020; padding-left:5px; line-height:2;}


/*header slide show*/

#slideshow {
    position:relative;
    width:980px;
	height:267px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}


.form-control {
  display: block;
  width: 100%;
  height: 31px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #abb2be;
  outline: 0;
  -moz-box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
  -webkit-box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
  box-shadow:  0 2px 1px rgba(203, 208, 217, 0.08);
}
.form-control::-webkit-input-placeholder {
  color: #aaaaaa;
}
.form-control:-moz-placeholder {
  color: #aaaaaa;
}
.form-control::-moz-placeholder {
  color: #aaaaaa;
}
.form-control:-ms-input-placeholder {
  color: #aaaaaa;
}
.form-control:-moz-placeholder {
  color: #aaaaaa;
}
.form-control::-moz-placeholder {
  color: #aaaaaa;
}
.form-control:-ms-input-placeholder {
  color: #aaaaaa;
}
.form-control::-webkit-input-placeholder {
  color: #aaaaaa;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-control {
  height: auto;
}
input[type="date"] {
  line-height: 31px;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  display: block;
  min-height: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}









